# use .gitignore to make files ignored while staging  just use file names and save this file


# use git log --oneline to see the versions or checkpoints

# git reset --hard HEAD~1 number denotes how many steps we want to go back.

#new changes in branch newInfo